doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/load.css")
  body
    #container
      #login-box
        h1.thin= title
        form(method="post", action="/", enctype="application/json")
          input(type="text", name"username", placeholder="Username..." autofocus)
          br
          button Enter
