doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/load.css")
  body
    .wrapper
      h1= title
      form(method="post", action="/", enctype="application/json")
        input(type="text", placeholder="Username...")
        br
        button(type="submit") Enter
