doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/load.css")
  body
    h1= title
    input(type="text", placeholder="Username...")
    button(type="submit") Enter